<h1> <%= @question.title %> </h1>

<p>
  <%= @question.description %>
</p>

<%= link_to "Edit Question", edit_question_path(@question) %>
<%= link_to "Delete", @question, method: :delete,
                                  data: { confirm: "You sure?" } %>


  <h2> Answers </h2>
  <% @answers.each do |answer| %>
  <p>  <%= markdown(answer.description) %> </p>
  <% end %>

  <%= render 'answers/form' %>
